/* You CSS goes in here */
body{
    margin: 0;
    font-family: verdana;
}

.subject {
    margin: auto auto auto 25px;
}

#title{
    position: relative;
    left: 0px;
    top: -23px;
    height: 40px;
    font-size: 20px;
    font-family: verdana;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(15, 154, 235);
}

.mainstep{
    position: absolute;
    left: 10px;
    top: 40px; 
    height: 558px;
    width: 788px;
    background-color: #dce5ec;
}

.incanvas{
    margin: 10px 0px 0px 10px;
    font-size: 16px;
}

.circlebg{
    border-radius: 20%;
    padding: 0px 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #2150a0;
}

#simscreen{
    position: relative;
    left: 0px;
    top: -3px;
    height: 600px;
    width: 800px;
    border: 1px solid;
    background-color: #dce5ec;
}